body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.submit-btn {
  background-color: #4e75ff;
  border: none;
  color: #ffffff;
  width: 91px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover {
  background-color: #6c8cff;
}

input[data-userInput] {
  width: 272px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  color: #808080;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[data-userInput]::placeholder {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}

input[data-userInput]:hover {
  border: 1px solid #000000;
}

input[data-userInput]:active {
  border: 1px solid #4e75ff;
}

.container-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  width: 360px;
  height: 200px;
  gap: 0;
  border: 1px solid #808080;
}

.container-img-wrap {
  width: 360px;
  height: 140px;
  overflow: hidden;
}

.container-img-wrap > img {
  width: 100%;
  height: auto;
}

.image-descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 4%;
  height: 60px;
  box-sizing: content-box;
}

.td-descrip {
  font-weight: 600;
}

td {
  padding: 10px;
}

.hidden-load {
  display: none;
  text-align: center;
}

.loader {
  font-size: 48px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(88, 209, 133);
  letter-spacing: 2px;
  position: relative;
  text-align: center;
}

.loader::after {
  content: 'Loading';
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 10s ease-in infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////=============/////////////////// */

.iziToast-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.iziToast-close {
  height: 16px;
  width: 16px;
}

.load-morepics {
  background-color: #4e75ff;
  display: none;
  text-align: center;
  border: none;
  color: #ffffff;
  width: 91px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-morepics-on {
  display: inline-block;
  margin-top: 20px;
}

.load-morepics:hover {
  background-color: #6c8cff;
}

div.sl-counter>span{
  color:transparent;
}

.sl-counter{
  display: none !important;
}